.home {
    height: 3rem;
    width: 6rem;
    border: 1px solid black;
    position: fixed;
    top: .25rem;
    right: .25rem;
    text-align: center;
    line-height: 1.5rem;
    z-index: 1;
    background-color: white;
}

.back-to-top {
    height: 1.5rem;
    width: 6rem;
    border: 1px solid black;
    position: fixed;
    bottom: .25rem;
    right: .25rem;
    text-align: center;
    line-height: 1.5rem;
    z-index: 1;
    background-color: white;
}

.home a, .back-to-top a {
    display: block;
}

.home a:link, .back-to-top a:link {
    text-decoration: none;
    color: black;
}

.home a:visited, .back-to-top a:visited {
    color: black;
}

#avatar {
    width: 160px;
    height: 160px;
    background-color: black;
    position: relative;
}

#avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}