/*font weights 500/700*/

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --white: #fff;
}

body {
    font-size: 1.3rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: var(--Light-Grayish-Blue);
}

.row {
    display: flex;
    align-items: center;
}

.row--gap {
    gap: 1em;
    height: 70px;
}

.card {
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1em;
}

.card__container {
    padding: 0em 2em;
}

.card__img {
    width: 100%;
    border-radius: 1em 1em 0 0;
}

.card__title {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.card__description {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--Desaturated-Dark-Blue);
}

/*card footer*/

.card-footer__article-info {
    /* display: none; */
}

.card-footer__avatar {
    height: 3em;
    border-radius: 50%;
    /* margin: 1em 0 */
}

.card-footer__author {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.card-footer__date {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--Grayish-Blue);
}

.card-footer__circle {
    margin-left: auto;
    background-color: var(--Light-Grayish-Blue);
    aspect-ratio: 1;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

.card-footer__share-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*share div*/

.card-footer__share-div {
    display: none;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 0 0 1em 1em;
}

.card-footer__share-text {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: var(--Grayish-Blue);
}

.card-footer__share-list {
    display: flex;
    gap: 1em;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

/*footer*/

.footer {
    font-size: 1.1rem;
    text-align: center;
    padding: 2em 0;
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}