body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    min-height: 100vh;
}

.grid-item {
    padding: 0 1em;
    line-height: 1.5;
}

.section-1 {
    background-color: #3194ce;
}

.section-2 {
    background-color: #218917;
}

.section-3 {
    background-color: #AA5B55;
}

.section-4 {
    background-color: #948D6B;
}

.section-5 {
    background-color: #5046B9;
}

@media (min-width: 600px) {
    .grid {
        grid-template: 
        "a a"
        "b c"
        "d c"
        "e e"
    }

    .section-1 {
        grid-area: a;
    }

    .section-2 {
        grid-area: b;
    }

    .section-3 {
        grid-area: c;
    }

    .section-4 {
        grid-area: d;
    }

    .section-5 {
        grid-area: e;
    }

}

@media (min-width: 900px) {
    
    .grid {
        grid-template: 
        "a a b c"
        "d e e c";
    }

}