@font-face {
    font-family: HennyPenny;
    src: url(../fonts/HennyPenny-Regular.ttf);
}

body {
    background-color: hsl(275, 25%, 70%);
}

h1.header {
    color: hsl(0, 75%, 85%);
    font-size: 3rem;
    text-align: center;
    width: calc(100% - 24rem);
    margin: 1rem auto 2rem;
    padding: 1rem 0 2rem;
    border-width: 0 1px 1px 1px;
    border-style: none dashed dashed dashed;
    border-color: hsl(0, 75%, 85%);
    font-family: "HennyPenny";
}

div.main-text {
    width: calc(100% - 16rem);
    margin: auto;
    background-color: hsl(275, 25%, 80%);
    border-radius: 5%;
}

div.main-text h1 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

div.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.container {
    background-color: white;
    margin: 1rem 4rem;
    padding: .25rem;
    border-radius: 5%;
}

div.images {
    background-color: black;
    width: 10rem;
    height: 10rem;
}

@media (orientation: portrait) {
    html {
        font-size: 32px;
    }
    h1.header {
        width: calc(100% - 8rem);
    }
    div.main-text h1 {
        font-size: 1.5rem;
    }
    div.images {
        width: 5rem;
        height: 5rem;
    }
}