/*font weights 300 400 600*/

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*primary*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /*neutral*/
    --dark-blue-main-bg: hsl(217, 54%, 11%);
    --dark-blue-card-bg: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.8rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    background-color: var(--dark-blue-main-bg);
    color: var(--soft-blue);
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card {
    max-width: 37.5rem;
    margin: 0 auto;
    background-color: var(--dark-blue-card-bg);
    border-radius: 1em;
}

.card__container {
    padding: 1.5em;
}

.card__header {
    position: relative;
}

.card__filter {
    display: none;
    background-color: var(--cyan);
    position: absolute;
    top: 0;
    max-width: 32.1rem;
    aspect-ratio: 1;
    width: 32.1rem;
    opacity: .5;
    border-radius: 1em;
}

.card__filter-img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.card__img-top {
    max-width: 100%;
    border-radius: 1em;
}

.card__title {
    color: var(--white);
    font-size: 2.7rem;
    font-weight: 600;
    text-decoration: none;
}

.card__title:hover {
    color: var(--cyan);
}

.card__text {
    line-height: 1.5;
    margin: 1em 0;
}

.card__row {
    display: flex;
    align-items: center;
}

.card__row--space-between {
    justify-content: space-between;
}

.card__row--sm-gap {
    gap: .5em;
}

.card__row--lg-gap {
    gap: 1em;
}

.card__row--cyan {
    color: var(--cyan);
    font-weight: 400;
}

.card__hr {
    border: none;
    border-top: 1px solid var(--dark-blue-line);
    margin: 1em 0;
}

.card__img-avatar {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 4rem;
}

.card__creator-name {
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
}

.card__creator-name:hover {
    color: var(--cyan);
}

.footer {
    font-size: 1.1rem; text-align: center;
    padding: 2em; 
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}