/* || reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

/* || custom properties */

:root {
    font-size: 62.5%;

    --ff-1: 'Manrope', sans-serif;

    --fs-1: 1.3rem;
    --fs-2: calc(var(--fs-1) * 1.5);

    --fw-1: 500;
    --fw-2: 700;

    --clr-1: hsl(0, 0%, 100%) ;
    --clr-2: hsl(210, 46%, 95%);
    --clr-3: hsl(212, 23%, 69%);
    --clr-4: hsl(214, 17%, 51%);
    --clr-5: hsl(217, 19%, 35%);

    --margin: 2em;
    
    --padding-sm: 1em;
    --padding-lg: 2em;
    --padding-xl: 3em;

    --border-radius: .5em;

    --icon-size: 3em;
}

/* || body & layout */

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--clr-2);
}

.main-layout {
    display: grid;
    place-content: center;
}

/* || utilities */

.bold {
    font-weight: var(--fw-2);
    color: var(--clr-5);
}

.lg-txt {
    font-size: var(--fs-2);
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1em;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* || bem */

.card {
    margin: var(--margin);

    background-color: var(--clr-1);

    font-family: var(--ff-1);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--clr-4);
}

.card__img {
    display: block;

    max-width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__content {
    padding: var(--padding-lg);
}

.card__bottom {
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.card__credit {
    /* display: none; */
}

.card__avatar {
    border-radius: 50%;
    width: var(--icon-size);
}

.card__share {
    display: none;

    text-transform: uppercase;
    letter-spacing: .25em;
    color: var(--clr-3);
}

.card__btn {
    display: grid;
    place-content: center;

    border: 0;
    border-radius: 50%;
    height: var(--icon-size);
    width: var(--icon-size);
    margin-left: auto;

    background-color: var(--clr-2);
    cursor: pointer;
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding-block: 1em;
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 900px) {

    .card {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 2fr;

        max-width: 750px;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    .card__img-container {
        overflow: hidden;

        aspect-ratio: 1/1;
    }

    .card__img {
        max-width: none;
        height: 100%;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .card__share--active {
        display: flex;

        position: absolute;
        right: 4em;
        bottom: 6em;
        translate: 50%;

        background-color: var(--clr-5);
        padding: var(--padding-sm) var(--padding-xl);
        border-radius: var(--border-radius);
    }

}