/*font weights 400/700*/

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*primary*/
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);

    /*neutral*/
    --dark-gray: hsl(0, 0%, 59%);
    --white: #fff;
}

body {
    font-size: 1.8rem; /*name and stats*/
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

.background {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    background-color: var(--dark-cyan);
    position: relative;
    overflow: hidden;
}

.background__img-top {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-70%, -70%);
}

.background__img-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(70%, 60%);
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
}

.card {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white);
    z-index: 1;
    border-radius: 1em;
}

.card__top-area {
    position: relative;
}

.card__background-img {
    border-radius: 1em 1em 0 0;
}

.card__avatar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border: 4px solid var(--white)
}

.card__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark-desaturated-blue);
}

.card__age {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--dark-gray-blue);
}

.card__location {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--dark-gray-blue);
    margin: .5em 0 1.5em;
}

.card__hr {
    border: 0;
    border-bottom: 1px solid var(--dark-gray);
    opacity: .25;
}

.card__row {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card__row--margin-top {
    margin-top: 4em;
}

.card__row--space-between {
    margin: 1.5em 3em;
    justify-content: space-between;
}

.card__stat {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark-desaturated-blue);
}

.card__category {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-gray-blue);
    margin-top: .25em;
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding: 2em;
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 800px) {

    .background__img-top {
        transform: translate(-60%, -60%);
    }

    .background__img-bottom {
        transform: translate(60%, 60%);
    }

}

@media (min-width: 1000px) {

    .background__img-top {
        transform: translate(-40%, -55%);
    }

    .background__img-bottom {
        transform: translate(35%, 65%);
    }

}