* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.row {
    display: flex;
}

.user_input {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
    z-index: 1;
}

.title {
    text-align: center;
    font-size: 1rem;
}

form {
    text-align: center;
}

h3 {
    flex: 1;
    font-size: 1rem;
}

span {
    font-weight: 400;
}

.dice_area {
    padding-bottom: 130px;
}

img {
    width: 10%;
    padding: .1em;
}

