/* font-family: 'Hanken Grotesk', sans-serif; */ /*500, 700, 800 weight*/
:root {
    --opacity-background: .05;
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

.results {
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(#6743ff, #3228e9);
    border-radius: 20px;
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

.results-container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 1em 0;
}

.circle {
    background: linear-gradient(#4c22cc, #4734f0);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    font-size: 4rem;
    color: white;
}

.rating {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
}

.percentile {
    font-size: 1.25rem;
    padding-bottom: 2rem;
}

/*section 2*/

.summary {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1em;
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    margin: 1em 0;
    border-radius: 10px;
}

.red {
    background-color: rgba(255, 0, 0, var(--opacity-background));
    color: red;
}

.yellow {
    background-color: rgba(255, 255, 0, var(--opacity-background));
    color: yellow;
}

.green {
    background-color: rgba(0, 255, 0, var(--opacity-background));
    color: green;
}

.blue {
    background-color: rgba(0, 0, 255, var(--opacity-background));
    color: blue;
}

.category {
    display: flex;
}

.category img {
    padding-right: .5em;
}

.category-score {
    color: black;
}

.category-score span {
    opacity: .5;
}

button {
    background-color: #303b59;
    color: white;
    padding: 1em 1em;
    border: 0;
    border-radius: 2rem;
    width: 100%;
}

button:hover,
button:focus {
    background: linear-gradient(#6743ff, #3228e9);
}

footer {
    padding: 1em 0;
}

@media (min-width: 750px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex {
        display: flex;
    }

    .results {
        flex: 1;
    }

    .summary {
        flex: 1;
    }

}