/* || reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
    color-scheme: dark light;
}

body {
    min-height: 100svh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    /* max-width: 75ch; */
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

/* || custom properties */

:root {
    font-size: 62.5%;

    --ff-1: 'Figtree', sans-serif;

    --fw-1: 600;
    --fw-2: 800;

    --fs-1: 1.6rem;
    --fs-sm: calc(var(--fs-1) * .8);
    --fs-2: calc(var(--fs-1) * 1.5);

    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(0, 0%, 50%);
    --clr-neutral-3: hsl(0, 0%, 7%);

    --clr-primary-1: hsl(47, 88%, 63%);
}

/* || body & layouts */

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    background-color: var(--clr-primary-1);
}

.main-layout {
    display: grid;
    place-content: center;
}

/* || utilities */

.grid-flow {
    display: grid;
    align-content: start;
}

.sm-gap {
    gap: 1em;
}

.lg-gap {
    gap: 1.25em;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: .5em;
}

/* || bem */

.card {
    --padding: 1.5em;

    margin: 1em;
    padding: var(--padding);
    max-width: calc(336px + 2 * var(--padding));
    box-shadow: 10px 10px var(--clr-neutral-3);
    border: 1px solid var(--clr-neutral-3);
    border-radius: 1em;

    background-color: var(--clr-neutral-1);

    font-family: var(--ff-1);
    font-weight: var(--fw-1);
    font-size: var(--fs-1);
    color: var(--clr-neutral-3);
}

.card__img {
    border-radius: .5em;
}

.card__category {
    padding: .5em 1em;
    width: max-content;
    border-radius: .25em;

    background-color: var(--clr-primary-1);

    font-weight: var(--fw-2);
}

.card__date {
    font-size: var(--fs-1);
}

.card__title {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
}

.card__text {
    color: var(--clr-neutral-2);
    line-height: 1.5;
}

.card__avatar {
    width: 2em;
}

.card__author {
    font-size: var(--fs-1);
    font-weight: var(--fw-2);
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding-block: 1em;
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}