/*font-weights 400/700*/

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*primary*/
    --dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /*gradient*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /*neutral*/
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --white: #fff;

    /*dividers*/
    --light-grayish-blue: hsl(240, 5%, 91%);

}

body {
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: 100dvh;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 14em 0 5em;
}

.faq {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1em;
}

.faq__img-desktop,
.faq__img-box {
    display: none;
}

.faq__container {
    padding: 10em 2em 4em;
}

.faq__img-mobile {
    width: 75%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    filter: drop-shadow(0px 30px 1px hsla(240, 6%, 50%, .2));

}

.faq__title {
    text-align: center;
    font-size: 2.4rem;
    margin: .5em 0;
}

.faq__btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__btn {
    width: 100%;
    background-color: var(--white);
    border: 0;
    padding: 0;
    text-align: left;
    max-height: 4.4rem; /*height of collapsed btn*/
    border-bottom: 1px solid var(--light-grayish-blue);
    transition: all 250ms;
    overflow: hidden;
}

.faq__btn:hover {
    cursor: pointer;
}

.faq__btn--expand {
    max-height: 12rem;
}

.faq__question {
    font-size: 1.4rem;
    margin: 1em 0;
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
}

.faq__question--red {
    color: var(--soft-red);
}

.faq__question--bold {
    font-weight: 700;
}

.faq__arrow {
    transition: all 250ms;
}

.faq__arrow--180 {
    transform: rotate(180deg);
}

.faq__answer {
    font-size: 1.2rem;
    margin: 1em 0;
    color: var(--dark-grayish-blue);
    margin-top: 0;
    max-width: 250px;
    line-height: 1.5;
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding: 2em;
}

.footer__link {
    /* color: hsl(228, 45%, 44%); */
    color: black;
}

@media (min-width: 900px) {

    .faq {
        max-width: 700px;
        overflow-x: hidden;
        height: 425px;
    }

    .faq__container {
        padding: 3em 2em 6em;
        max-width: 350px;
        margin-left: auto;
        height: 100%;
    }

    .faq__title {
        text-align: left;
    }

    .faq__img-mobile {
        display: none;
    }

    .faq__img-desktop {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-17%, -50%);
        height: 250px;
        filter: drop-shadow(0px 50px 1px hsla(240, 6%, 50%, .2));
    }

    .box-img-area {
        max-width: 750px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .faq__img-box {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-40%, -30%);
        z-index: 1;
        transition: all 250ms;
    }

    .faq__img-box--translate {
        transform: translate(-60%, -30%);
    }

}