* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-shadow: 0 0 5px black;
}

.hero_text {
    text-align: right;
}

.avatar {
    max-width: 100%;
    border-radius: 50%;
}

h1 {
    font-size: clamp(2rem, 10vw, 7rem);
    text-shadow: 0 0 5px black;
}

h2 {
    text-align: right;
    text-shadow: 0 0 5px black;
    max-width: 50vw;
}

.nav_list {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 25%;
    right: 0;
}

.nav_list_inside {
    list-style-type: none;
}

.nav_link {
    color: white;
    text-decoration: none;
}

.nav_link:hover,
.nav_link:focus {
    opacity: .75;
}

.nav_item_title {
    font-size: 1.25rem;
    padding: 0 .5rem;
}

.nav_item_title:hover,
.nav_item_title:focus {
    cursor: pointer;
    color: #EBC600;
}

.nav_item {
    font-size: 1rem;
    padding: .5rem 0;
}

#mock_website_list,
#java_fun_list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms;
}

@media (min-width: 800px) {

    .row {
        display: flex;
        justify-content: space-between;
    }

}