* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --background-color: black;
    --font-color: white;
    --accent: green;
    --project-card-background-color: #333;
    
    --container-max-width: 1440px;
    --container-max-height: calc(var(--container-max-width) * (9/16) ); /*maintain aspect*/
    
    --navbar-height:""; /*set by javascript*/
    --navbar-width:"";
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    /*center content*/
    display: grid;
    place-content: center;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

.viewport {
    /*size is determined by container, which is needed for anchoring navbar*/
    height: 100%;
    width: 100%;
    /*only show one section at a time*/
    overflow: hidden;
    display: grid;
    scroll-behavior: smooth;
}

.section {
    /*wants to be full screen*/
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    /*set max dimensions*/
    max-width: var(--container-max-width);
    max-height: var(--container-max-height);
    /*take into account fixed navbar*/
    padding-bottom: var(--navbar-height);
    overflow: scroll;
    /*hide scrollbar*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section::-webkit-scrollbar {
    display: none;
}

.section--center {
    display: grid;
    place-content: center;
}

.container {
    /*give the navbar an anchor for when the screen gets too large*/
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    max-width: var(--container-max-width);
    max-height: var(--container-max-height);
    position: relative;
}

.section__heading {
    text-align: center;
}

.section__coming-soon {
    font-size: clamp(4rem, 10vw, 8rem);
    text-align: center;
    line-height: 100vh;
    line-height: 100dvh;
}

.avatar {
    aspect-ratio: 1;
    width: 425px;
    max-width: 90vw;
    max-width: 90dvw;
    border-radius: 50%;
    outline: 1px solid white;
    background: url(../images/fox_avatar.png);
    background-position: center;
    position: relative;
}

.avatar__text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    text-shadow: 0 0 5px black;
}

.avatar__title {
    margin: 0;
    font-size: 8rem;
    font-size: clamp(4rem, 15vw, 8rem);
    white-space: nowrap;
}

.avatar__subtitle {
    display: block;
    font-size: 2rem;
    font-size: clamp(1rem, 5vw, 2rem)
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1;
    margin: 0;
    padding: 0;
}

.navbar__link {
    text-decoration: none;
    color: var(--font-color);
    margin: 1em;
    display: block;
}

.navbar__link:visited,
.navbar__link:active {
    color: var(--font-color);
    background-color: var(--background-color);
}

.navbar__link--active {
    color: var(--accent);
}

.navbar__link--active:visited,
.navbar__link--active:active {
    color: var(--accent);
}

.project-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 700px) {

    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1050px) {

    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

.project-list__item {
    max-width: 350px;
}

.project-list__link {
    color: var(--font-color);
    text-decoration: none;
}

.project-card {
    border: 1px solid white;
    padding: 1em;
    background-color: var(--project-card-background-color);
    text-align: center;
    min-height: 200px;
    display: grid;
    place-content: center;
    transition: transform ease-in-out 250ms;
}

.project-card__title {
    margin: .5em;
    font-size: 1.8rem;
    font-weight: 700;
}

.project-card__credit {
    margin: .5em;
    font-size: 1.2rem;
    font-style: italic;
}

.project-card__credit::before {
    content: "Design by: ";
}


@media (orientation: portrait) {
    .viewport {
        grid-auto-flow: column;
    }
}

@media (orientation: landscape) {
    .viewport {
        grid-auto-flow: row;
    }
}

@media (min-width: 800px) {

    .section {
        /*take into account fixed navbar*/
        padding: 0;
        padding-left: var(--navbar-width);
        padding-right: var(--navbar-width);
    }

    .navbar {
        flex-direction: column;
        height: 100%;
        width: max-content;
    }

    .navbar__link {
        width: max-content;
    }

}

@media (hover: none) {
    
    .navbar__link {
        margin: 0;
        padding: 1em;
    }

}

@media (hover: hover) {

    .navbar__link {
        position: relative;
    }

    .navbar__link::before,
    .navbar__link::after {
        content: "";
        height: 2px;
        max-width: 0;
        width: 50%;
        background-color: var(--accent);
        position: absolute;
        bottom: 0;
        transition: max-width 250ms;
    }

    .navbar__link::before {
        left: 50%;
    }

    .navbar__link::after {
        right: 50%;
    }

    .navbar__link:hover::before,
    .navbar__link:hover::after {
        max-width: 50%;
    }

    .project-card:hover {
        transform: scale(1.025);
        box-shadow: 0 0 15px var(--accent);
    }

}