@media only screen and (max-device-width: 480px) {
    html {
        font-size: 32px;
    }
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
}

nav {
    flex: 1;
}

#main-text {
    flex: 3;
}

