/*navbar*/
#navbar {
    display: flex;
    position: fixed;
    height: 2rem;
    background-color: hsl(250, 50%, 35%);
    color: hsl(250, 100%, 90%);
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid black;
}

#navbar img {
    margin: .25rem;
    transition: transform 250ms;
}

#navbar h1 {
    line-height: 2rem;
    padding-left: 1rem;
    margin-left: .25rem;
    border-left: 1px solid black;
}

/*drop down menu*/
#menu {
    position: fixed;
    left: calc(-75% - 4px);
    top: calc(2rem + 1px);
    width: 75%;
    background-color: black;
    color: white;
    transition: left 500ms;
    border: 2px inset slategray;
    z-index: 1;
}

#menu ul li {
    padding: 1rem;
}

#menu ul li a {
    display: block;
}

#menu a:link, #menu a:visited {
    color: white;
    text-decoration: none;
}

#menu li:hover {
    background: slategray;
}

#menu img {
    height: 1rem;
    padding-right: 0.25rem;
}

#mock_list, #java_list {
    display: none;
    margin-left: 1rem;
}

#mock_arrow, #java_arrow {
    transition: transform 250ms;
}

.welcome img {
    width: 100%;
    border: 2px solid black;
}

.welcome h1 {
    font-size: 4rem;
    position: absolute;
    top: 10rem;
    left: 4rem;
}

#about_me h1 {
    font-size: 2rem;
    padding: 1rem 4rem;
    border-bottom: 2px solid black;
}

#about_me p {
    margin: 2rem 2rem 1rem;
}

/*mobile*/

@media (orientation: portrait) {
    .welcome h1 {
        font-size: 1.5rem;
        top: 4rem;
        left: 2rem;
    }

    #about_me h1 {
        font-size: 1.5rem;
        padding: .5rem 2rem;
    }

    #about_me p {
        margin: 1rem 2rem;
    }
}