* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul p,
ul li {
    padding: .25em 0;
    margin: .25em 0;
}

ul li a,
ul li a:link,
ul li a:visited,
ul li a:active {
    color: #EBC600;
}