/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: #2E323F;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    padding: 1em 0;
}

.nav__list {
    list-style: none;
}

.nav__item {
    padding: 1em 0;
}

.nav__link {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .65;
}

.nav__link--btn {
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 3em;
}

.hero {
    background-color: #3B4050;
    padding: 4em 0;
}

.hero__header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color:#FFFFFF;
    font-size: 5.625rem;
    line-height: 5.625rem;
}

.hero__text {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 2em 0 1em;
}

.hero__btn {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 3em;
}

.section__two {
    padding: 4em 0;
    background-color: #F1F1F1;
    text-align: center;
}

.section__two--header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
    color: #A59678;
    margin: .5em 0;
}

.section__two--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}

.section__three {
    padding: 4em 0;
}

.section__three--header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    color: #A59678;
}

.section__three--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3125rem;
    margin: 1em 0 2em;
}

.section__three--img {
    max-width: 100%;
}

.box {
    background-color: #3B4050;
    color: #FFFFFF;
    text-align: center;
    padding: 2em;
    margin: 2em 0;
}

.box__header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
}

.box__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}

footer {
    background-color: #3B4050;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #6F737F;
    padding: 2em 0;
}

.footer__title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 1.5em;
}

.footer__header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.3125;
    color: #A59678;
    min-width: max-content;
    padding: 1em 0;
}

.footer__text {
    padding: 1em 0;
}

.lower {
    text-transform: capitalize;
    color: #6F737F;
}

@media (min-width: 700px) {
    
    .row {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

    .hero .row {
        align-items: flex-end;
    }

    .row__alt--2 {
        display: flex;
        gap: 1em;
    }

    footer .row {
        gap: 7em;
    }

}

@media (min-width: 1000px) {
    
    .row__alt--2 {
        display: block;
    }

    .row__alt {
        display: flex;
        gap: 4em;
    }

}