* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*primary*/
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%); 
    --accent: hsl(277, 64%, 61%);

    /*neutral*/
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    background-color: var(--main-bg);
    color: var(--main-paragraph);
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card {
    max-width: 37.5rem;
    margin: 0 auto;
    background-color: var(--card-bg);
    text-align: center;
    border-radius: 1em;
}

#desktop-img-container {
    display: none;
}

.card__img-container {
    position: relative;
}

.card__container {
    padding: 2em;
}

.card__title {
    color: var(--main-heading-stats);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.card__title-span {
    color: var(--accent);
}

.card__text {
    line-height: 1.75;
}

.card__stat {
    color: var(--main-heading-stats);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 1.5em 0 .25em;
}

.card__heading {
    color: var(--stat-headings);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
}

.card__img {
    max-width: 100%;
    display: block;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card__img-filter {
    background-color: hsla(277, 64%, 40%, .5);
    max-width: 37.5rem;
    width: 100%;
    aspect-ratio: 1.3625;
    position: absolute;
    top: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.footer {
    font-size: 1.1rem; 
    text-align: center;
    padding: 2em; 
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1050px) {

    .card {
        margin: 0;
        max-width: 540px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: left;
    }

    #mobile-img-container {
        display: none;
    }

    #desktop-img-container {
        display: block;
    }

    .card__img {
        flex: 1;
        border-top-left-radius: 0;
        border-bottom-right-radius: 1em;
    }

    .card__img-filter {
        max-width: 100%;
        aspect-ratio: calc(540 / 446);
        border-top-left-radius: 0;
        border-bottom-right-radius: 1em;
    }

    .card__container {
        max-width: 80%;
        margin-left: 2em;
        margin-right: auto;
    }

    .card__title {
        margin: 1em 0
    }

    .card__stat {
        margin-top: 2.5em;
    }

    .card__row {
        display: flex;
        justify-content: center;
    }

    .card__row--space-between {
        justify-content: space-between;
    }

}