/* || reset */

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

:root {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

/* || variables */

:root {
    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(215, 32%, 27%);
    --clr-neutral-3: hsl(216, 50%, 16%);
    --clr-neutral-4-hs: 217, 54%;
    --clr-neutral-4: hsl(var(--clr-neutral-4-hs), 11%);
    --clr-neutral-5: hsl(var(--clr-neutral-4-hs), 10%);

    --clr-primary-1: hsl(215, 51%, 70%);
    --clr-primary-2-hsl: 178, 100%, 50%;
    --clr-primary-2: hsl(var(--clr-primary-2-hsl));

    --fs-1: 1.8rem;
    --fs-2: calc(1.25 * var(--fs-1));

    --fw-1: 300;
    --fw-2: 400;
    --fw-3: 600;
}

/* || default */

body {
    background-color: var(--clr-neutral-4);
    
    font-size: var(--fs-1);
    font-family: 'Outfit', sans-serif;
    font-weight: var(--fw-1);
    color: var(--clr-primary-1);
}

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;
}

.main-layout {
    display: grid;
    place-content: center;
}

/* || utilities */

.grid-flow {
    display: grid;
    gap: 1em;
}

.flex-group {
    display: flex;
    align-items: center;
}

.gap {
    gap: .5em;
}

.gap-lg {
    gap: 1em;
}

.space-between {
    justify-content: space-between;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/* || blocks */

.nft-card {
    max-width: 350px;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 10px 20px 5px var(--clr-neutral-5);

    background-color: var(--clr-neutral-3);
}

.hr {
    border: 0;
    border-top: 1px solid var(--clr-neutral-2);
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding: 1em 0;
}

/* || elements */

.nft-card__img-container {
    position: relative;

    overflow: hidden;

    border-radius: 1em;
}

.nft-card__img-filter {
    opacity: 0;
    transition: opacity 250ms;
    
    width: 100%;
    height: 100%;

    background-color: hsla(var(--clr-primary-2-hsl), .5);
}

.nft-card__title {
    font-size: var(--fs-2);
    font-weight: var(--fw-3);
    color: var(--clr-neutral-1);
}

.nft-card__price {
    font-weight: var(--fw-2);
    color: var(--clr-primary-2);
}

.nft-card__creator-avatar {
    aspect-ratio: 1 / 1;
    width: 3em;
    border: 2px solid var(--clr-neutral-1);
    border-radius: 50%;
}

.nft-card__creator-name {
    color: var(--clr-neutral-1);
    font-weight: var(--fw-2);
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

/* || media queries */

@media (hover: hover) {

    .nft-card__img-filter:hover {
        opacity: 1;

        cursor: pointer;
    }

    .nft-card__title:hover {
        cursor: pointer;

        color: var(--clr-primary-2);
    }

    .nft-card__creator-name:hover {
        cursor: pointer;

        color: var(--clr-primary-2);
    }

}