/* || reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* || custom properties */

:root {
    font-size: 62.5%;

    --ff-1: 'Roboto', sans-serif;

    --fw-1: 400;
    --fw-2: 700;

    --fs-1: 1.6rem;
    --fs-sm: calc(var(--fs-1) * .75);
    --fs-2: calc(var(--fs-1) * 3);

    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(231, 7%, 60%);
    --clr-neutral-3: hsl(235, 18%, 26%);
    --clr-neutral-4: hsl(234, 29%, 20%);

    --clr-primary-1-hsl: 4, 100%, 67%;
    --clr-primary-1: hsl(var(--clr-primary-1-hsl));
    
    --clr-gradient-from: #ff5379;
    --clr-gradient-to: #ff693a;
    
}

/* || body & layout */

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--clr-neutral-1);

    font-family: var(--ff-1);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--clr-neutral-3);
}

/* || utilities */

.flex-group {
    display: flex;
    justify-content: space-between;

    font-size: var(--fs-sm);
    font-weight: var(--fw-2);
}

.grid-flow {
    display: grid;
    align-content: center;
    gap: 1em;
}

.grid-flow--lg-gap {
    gap: 2em;
}

/* || bem */

#sign-up-form {
    /* display: none; */
}

#confirmation-message {
    display: none;
}

.newsletter {
    display: grid;
    grid-template-rows: auto 1fr;

    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--clr-neutral-1);
}

.newsletter__hero-img {
    margin-inline: auto;
}

.newsletter__container {
    display: grid;
    grid-template-rows: 1fr auto;

    padding: 1em;
    max-width: 400px;
    margin-inline: auto;
}

.newsletter__title {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    color: var(--clr-neutral-4);
}

.newsletter__list {
    list-style: none;
}

.newsletter__list-item {
    position: relative;

    padding-block: .5em;
    padding-left: 2em;
}

.newsletter__list-item::before {
    content: url(../images/icon-list.svg);

    position: absolute;
    left: 0;
}

.newsletter__form {
    margin-top: 1em;

    align-self: flex-end;
}

.newsletter__input-label {
    color: var(--clr-neutral-4);
}

.newsletter__error-message {
    color: var(--clr-primary-1);
}

.newsletter__email-input {
    margin-block: .5em 1em;

    width: 100%;
    padding: 1em;
    border: 1px solid var(--clr-neutral-2);
    border-radius: .25em;
}

.newsletter__email-input::placeholder {
    color: var(--clr-neutral-2);
}

.newsletter__email-input:focus {
    outline: none;
    border-color: var(--clr-neutral-3);
}

.newsletter__email-input--error {
    border-color: var(--clr-primary-1);
   
    background-color: hsla(var(--clr-primary-1-hsl), .15);

    color: var(--clr-primary-1);
}

.btn {
    width: 100%;
    padding: 1em;
    border: 0;
    border-radius: .25em;

    background-color: var(--clr-neutral-4);
    cursor: pointer;

    color: var(--clr-neutral-1);
    font-weight: var(--fw-2);
}

.newsletter__user-email {
    font-weight: var(--fw-2);
    color: var(--clr-neutral-4);
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding-block: 1em;
    background-color: var(--clr-neutral-1);
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

/* || media queries */

@media (hover: hover) {

    .btn:hover {
        background: linear-gradient(90deg, var(--clr-gradient-from), var(--clr-gradient-to));
    }

}

@media (min-width: 800px) {



    .body-layout {
        background-color: var(--clr-neutral-4);
    }

    .main-layout {
        display: grid;
        place-content: center;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "a b";
    }

    .newsletter {
        min-height: auto;
        border-radius: 1em;
    }

    .newsletter__container {
        grid-template-rows: auto;
        place-content: center;

        padding: 2em;
    }

    .newsletter__hero-container {
        grid-area: b;

        padding: 1em;
    }

}