/*font weights 400 and 700*/

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    /*primary*/
    --orange: hsl(25, 97%, 53%);

    /*neutral*/
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    background-color: var(--very-dark-blue);
    color: var(--light-grey);
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.rating {
    max-width: 37rem;
    margin: 0 auto;
    background: linear-gradient(#23282e, #171e28);
    border-radius: 1em;
}

.rating__container {
    padding: 1.5em;
}

.rating__row {
    display: flex;
    justify-content: space-between;
    margin: 1.75em 0 1em;
}

.rating__circle {
    display: inline-block;
    background-color: var(--dark-blue);
    aspect-ratio: 1;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 50%;
}

.rating__circle:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.rating__circle--active {
    background-color: var(--medium-grey);
    color: var(--white);
}

.rating__circle--active:hover {
    background-color: var(--orange);
}

.rating__circle--no-hover:hover {
    background-color: var(--dark-blue);
    cursor: default;
}

.rating__img-star {
    transform: translateY(25%);
}

.rating__title {
    color: var(--white);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.rating__text {
    line-height: 1.5;
}

.rating__btn {
    background-color: var(--orange);
    color: var(--white);
    border-style: none;
    margin: .5em 0 1em;
    padding: 1em;
    border-radius: 2em;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 700;
    width: 100%;
}

.rating__btn:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}

#thank-you-state {
    display: none;
}

.rating--center-text {
    text-align: center;
}

.rating__img-thanks {
    display: block;
    margin: .5em auto;
}

.rating__results {
    background-color: var(--dark-blue);
    color: var(--orange);
    margin: 1.75em auto;
    padding: .5em 1em;
    width: max-content;
    border-radius: 2em;
}

.footer {
    font-size: 1.1rem;
    text-align: center;
    padding: 2em 0;
}

.footer__link {
    color: hsl(228, 45%, 44%);
}

/*testing*/

/* #rating-state {
    display: none;
}

#thank-you-state {
    display: block;
} */