/* || reset */

* {
    box-sizing: border-box;
    margin: 0;

    font: inherit;
}

:root {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

/* || variables */

:root {
    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(228, 12%, 48%);
    --clr-neutral-3: hsl(212, 21%, 14%);

    --clr-primary-1: hsl(30, 38%, 92%);
    --clr-primary-2: hsl(158, 36%, 37%);
    --clr-primary-2-dark: hsl(158, 36%, 15%);

    --ff-main: 'Montserrat', sans-serif;
    --ff-headings: 'Fraunces', serif;

    --fs-1: 1.4rem;
    --fs-2: calc(2 * var(--fs-1));

    --fw-1: 500;
    --fw-2: 700;
}

/* || default */

body {
    display: grid;
    grid-template-rows: 1fr auto;
    
    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--clr-primary-1);

    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    font-family: var(--ff-main);
}

/* || block */

.product {
    padding: 1em;
    
    background-color: var(--clr-neutral-1);
}

.btn {
    display: flex;
    gap: .5em;
    align-items: center;
    
    transition: background-color 100ms;

    border: 0;
    padding: 1em;
    border-radius: .5em;

    background-color: var(--clr-primary-2);
    
    color: var(--clr-neutral-1);
}

.footer {
    padding: 1em 0;

    font-size: 1.1rem;
    text-align: center; 
}

/* || element */

.footer__link {
    color: hsl(228, 45%, 44%); 
}

/* || media queries */

@media (hover: hover) {

    .btn:hover {
        background-color: var(--clr-primary-2-dark);

        cursor: pointer;
    }

}