/* || reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
    color-scheme: dark light;
}

body {
    min-height: 100svh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    /* max-width: 75ch; */
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

/* || custom properties */

:root {
    font-size: 62.5%;

    --ff-1: 'Open Sans', sans-serif;
    --ff-2: 'Poppins', sans-serif;

    --fs-1: 1.6rem;
    --fs-2: calc(var(--fs-1) * 1.5);
    --fs-3: calc(var(--fs-1) * 2.5);

    --fw-1: 400;
    --fw-2: 600;

    --clr-neutral-1: hsl(0, 0%, 100%);

    --clr-primary-1: hsl(300, 69%, 71%);
    --clr-primary-2: hsl(257, 40%, 49%);

    --padding: 2em;
    --main-content-max-width: 550px;
    --main-max-width: 1400px;
}

/* || body */

.body {
    background-image: url(../images/bg-mobile.svg);
    background-color: var(--clr-primary-2);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--ff-1);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--clr-neutral-1);
    text-align: center;
}

/* || utilities */

.container {
    padding: var(--padding);
}

/* || bem */

.main-content {
    display: grid;
    place-content: center;

    position: relative;

    max-width: var(--main-content-max-width);
    margin-inline: auto;
}

.header {
    max-width: calc(709px + 2 * var(--padding)); 
    margin-inline: auto;
}

.logo {
    height: var(--fs-3);
}

.hero-img {
    display: inline;
}

.title {
    font-family: var(--ff-2);
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
}

.text {
    margin-block: 1em 2em;
}

.register-link {
    display: block;

    max-width: 250px;
    margin-inline: auto;
    padding: 1em;
    border-radius: 2em;

    background-color: var(--clr-neutral-1);

    text-decoration: none;
    font-family: var(--ff-2);
    color: var(--clr-primary-2);
    text-align: center;
}

.link-list {
    display: flex;
    justify-content: center;
    gap: 1em;

    list-style: none;
}

.link-list__item {
    display: grid;
    place-content: center;

    aspect-ratio: 1/1;
    height: 30px;

    border: 1px solid var(--clr-neutral-1);
    border-radius: 50%;

    color: var(--clr-neutral-1);
    text-decoration: none;
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding-block: 1em;
}

.footer__link {
    color: var(--clr-neutral-1);
}

/* || media queries */

@media (hover: hover) {

    .register-link:hover {
        background-color: var(--clr-primary-1);

        color: var(--clr-neutral-1);
    }

    .link-list__item:hover {
        border-color: var(--clr-primary-1);

        color: var(--clr-primary-1);
    }

}

@media (min-width: 1000px) {

    body {
        background-image: url(../images/bg-desktop.svg);
    }

    .header {
        max-width: var(--main-max-width);
    }

    .main {
        display: flex;
        justify-content: center;

        max-width: var(--main-max-width);
        margin-inline: auto;

        text-align: left;
    }

    .title {
        font-size: var(--fs-3);
    }

    .register-link {
        margin-inline: 0;
    }

    .link-list {
        position: absolute;
        bottom: 2em;
        right: 2em;
    }

}