* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img,
video {
    max-width: 100%;
    display: block;
}

.spacer {
    height: 64px;
}

.desktop-nav,
.desktop-img,
.desktop-links,
.desktop-video,
.other-exhibits {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 0 24px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFF;
}

.hero {
    background-color: #d8d8d8;
}

.hero-container {
    padding: 0px 16px;
}

.hero-title {
    font-size: 32px;
    font-weight: bolder;
    padding: 32px 0;
}

.btn {
    display: inline-block;
    width: 100%;
    margin: 24px 0 32px;
    padding: 8px 0;
    background-color: #9b9b9b;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.btn:hover {
    background-color: #4a4a4a;
}

.section-two {
    padding: 16px;
}

.mobile-img {
    width: 100%;
}

.section-two-text {
    padding: 0 16px;
}

.section-two-text h2 {
    padding-top: 16px;
    font-weight: bolder;
}

.section-two-text p {
    padding: 8px 0;
}

.section-two-text a {
    display: inline-block;
    text-decoration: none;
    color: blue;
    padding-bottom: 32px;
}

.section-two-text a:hover,
.section-two-text a:focus {
    text-decoration: underline;
}

.section-three {
    padding: 32px 16px;
    border: 1px solid lightgray;
    background-color: #eaebec;
}

.section-three-title {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 8px;
}

.section-three .btn {
    text-align: left;
    color: black;
    padding: 24px 16px;
    margin: 8px 0;
}

.section-four {
    padding: 32px 0 24px;
}

.section-four h2 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 16px;
}

footer {
    padding: 16px 0 16px 16px;
}

@media (min-width: 800px) {

    .mobile-nav,
    .mobile-img,
    .mobile-links,
    .mobile-video {
        display: none;
    }

    .desktop-links,
    .desktop-video,
    .other-exhibits {
        display: block;
    }

    .desktop-img {
        display: inline;
    }

    .row {
        display: flex;
    }

    .center {
        align-items: center;
    }

    .wrap {
        flex-wrap: wrap;
    }
    
    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4em;
        width: 100%;
        padding: 0 1.5em;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: #FFF;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 64px;
    }

    .logo-img {
        height: 75%;
    }
    
    .logo-text {
        font-size: 2rem;
        text-transform: uppercase;
    }

    .logo-text span {
        opacity: .5;
        font-weight: lighter;
    }

    .nav {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    .nav-item {
        padding-left: 1em;
    }

    .nav-link {
        text-decoration: none;
        color: black;
    }

    .nav-link:hover,
    .nav-link:focus {
        opacity: .5;
    }

    .hero-img {
        width: 60%;
        padding: 32px 24px;
    }

    .hero-container {
        width: 40%;
        max-width: 425px;
    }

    .col-6 {
        width: 60%;
        padding: 32px 24px 0 8px;
    }

    .col-6 h2 {
        font-size: 2rem;
        padding: 32px 0 24px;
    }

    .col-4 {
        width: 40%;
    }

    .col-4 img {
        width: 35%;
        padding: 16px;
    }

    .link:hover,
    .link:focus {
        background-color: #d8d8d8;
        cursor: pointer;
    }

    .desktop-links {
        background-color: #eaebec;
    }
    
    .card {
        width: calc(100% / 3);
        padding: 16px;
    }

    .card-body {
        background-color: #FFF;
    }

    .card-text {
        padding: 16px;
    }

    .card-text h2 {
        padding: 16px 0;
    }

    .card-text h3 {
        padding: 8px 0;
        text-transform: uppercase;
        font-weight: 400;
    }

    .card-text p {
        padding-bottom: 24px;
    }

    .card:hover {
        background-color: #d8d8d8;
    }

    .desktop-video {
        width: 60%;
        padding: 16px 32px 0 24px;
    }
    
    .desktop-video h2 {
        padding: 24px 0 32px;
    }

    .other-exhibits {
        width: 40%;
    }

    .other-exhibits img {
        width: 35%;
        padding: 16px;
    }

    .thesis-text {
        width: 65%;
    }

}