/* || reset */

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

:root {
    font-size: 62.5%;
}

/* || variables */

:root {
    --clr-1: hsl(0, 0%, 100%);
    --clr-2: hsl(212, 45%, 89%);
    --clr-3: hsl(220, 15%, 55%);
    --clr-4: hsl(218, 44%, 22%);

    --ff-1: 'Outfit', sans-serif;

    --fw-1: 400;
    --fw-2: 700;

    --fs-1: 1.5rem;
    --fs-2: calc(1.5 * var(--fs-1));
}

/* || utilities */

.grid-flow {
    display: grid;
    gap: 1em;

    margin: 1em 0;
}

/* || default */

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;
}

.main-layout {
    display: grid;
    place-content: center;

    margin: 1em;
}

body {
    background-color: var(--clr-2);
    
    font-family: var(--ff-1);
    font-size: var(--fs-1);
    font-weight: 400;
    color: var(--clr-3);
}

/* || blocks */

.qr-code {
    margin-inline: 1em;
    max-width: 350px;
    padding: 1em;
    border-radius: 1.5em;
    
    background-color: var(--clr-1);

    text-align: center;
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding: 1em 0;
}

/* || elements */

.qr-code__img {
    border-radius: 1em;
}

.qr-code__container {
    padding: 0 1.5em;
}

.qr-code__title {
    font-size: var(--fs-2);
    color: var(--clr-4);
    font-weight: var(--fw-2);
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}