/* ||reset */

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

:root {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

/* || variables */

:root {
    --clr-neutral-1: white;
    --clr-neutral-2: hsl(225, 100%, 98%);
    --clr-neutral-3: hsl(224, 23%, 55%);
    --clr-neutral-4: hsl(223, 47%, 23%);

    --clr-primary-1: hsl(225, 100%, 94%);
    --clr-primary-2-hsl: 245, 75%, 52%;
    --clr-primary-2: hsl(var(--clr-primary-2-hsl));

    --fs-1: 1.6rem;
    --fs-2: calc(1.5 * var(--fs-1));

    --fw-1: 500;
    --fw-2: 700;
    --fw-3: 900;
}

/* || default */

body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-color: var(--clr-primary-1);
    background-repeat: repeat-x;

    font-family: 'Red Hat Display', sans-serif;
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--clr-neutral-3);
}

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;
}

.main-layout {
    display: grid;
    place-content: center;

    margin: 1em;
}

/* || utilities */

.grid-flow {
    display: grid;
    gap: 1em;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: .5em;

    padding: 1em;
    border-radius: .5em;

    background-color: var(--clr-neutral-2);
}

/* || blocks */

.order-summary {
    overflow: hidden;
    
    margin-inline: 1em;
    max-width: 375px;
    border-radius: 1em;

    background-color: var(--clr-neutral-1);

    text-align: center;
}

.btn {
    padding: 1em;
    border: 0;
    border-radius: .5em;
    
    background-color: transparent;
    cursor: pointer;

    font-weight: var(--fw-2);
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding: 1em 0;
}

/* || elements */

.order-summary__container {
    padding: 2em;
}

.order-summary__title {
    font-size: var(--fs-2);
    font-weight: var(--fw-3);
    color: var(--clr-neutral-4);
}

.order-summary__plan-name {
    font-weight: var(--fw-2);
    color: var(--clr-neutral-4);
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

/* || modifiers */

.btn--change {
    margin-left: auto;

    text-decoration: underline;
    color: var(--clr-primary-2);
}

.btn--change:focus {
    text-decoration: none;
    color: hsl(var(--clr-primary-2-hsl), .7);
}

.btn--proceed {
    box-shadow: 0 10px 10px hsla(var(--clr-primary-2-hsl), .25);
    
    background-color: var(--clr-primary-2);

    color: var(--clr-neutral-1);
}

.btn--proceed:focus {
    background-color: hsl(var(--clr-primary-2-hsl), .7);
}

.btn--cancel {
    color: var(--clr-neutral-3);
}

.btn--cancel:focus {
    color: var(--clr-neutral-4);
}

/* || media queries */

@media (hover: hover) {

    .btn--change:hover {
        text-decoration: none;
        color: hsl(var(--clr-primary-2-hsl), .7);
    }

    .btn--proceed:hover {
        background-color: hsl(var(--clr-primary-2-hsl), .7);
    }

    .btn--cancel:hover {
        color: var(--clr-neutral-4);
    }

}

@media (min-width: 375px) {
    
    body {
        background-image: url(../images/pattern-background-desktop.svg);
    }

}