/* || reset */

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* || custom properties */

:root {
    font-size: 62.5%;

    --ff-1: 'Kumbh Sans', sans-serif;

    --fs-1: 1.8rem;
    --fs-sm: calc(var(--fs-1) * .75);

    --fw-1: 400;
    --fw-2: 700;

    --clr-neutral-1: white;
    --clr-neutral-2: hsl(0, 0%, 59%);

    --clr-primary-1: hsl(227, 10%, 46%);
    --clr-primary-2: hsl(185, 75%, 39%);
    --clr-primary-3: hsl(229, 23%, 23%);

    --img-border: 4px;
}

/* || body & layout */

body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-color: var(--clr-primary-2);
    background-position: right 45vw bottom 45vh, 45vw 45vh;
    background-repeat: no-repeat;

    font-family: var(--ff-1);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--clr-primary-1);
}

.body-layout {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;
}

.main-layout {
    display: grid;
    place-content: center;
}

/* || utilities */

.flex-group {
    display: flex;
    align-items: center;
    gap: .5em;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.block {
    display: block;
}

.bold {
    font-weight: var(--fw-2);
    color: var(--clr-primary-3);
}

.txt-sm {
    font-size: var(--fs-sm);
}

.hr {
    border: 0;
    border-top: 1px solid hsla(0, 0%, 50%, .25);
}

/* || bem */

.profile-card {
    overflow: hidden;

    border-radius: .5em;

    background-color: var(--clr-neutral-1);

    text-align: center;
}

.profile-card-background {
    position: relative;

    height: 140px;
    width: 350px;

    background-image: url(../images/bg-pattern-card.svg);
}

.profile-card-background__user-img {
    position: absolute;
    bottom: 0;
    left: 50%;

    translate: -50% 50%;

    border: var(--img-border) solid var(--clr-neutral-1);
    border-radius: 50%;
}

.profile-card-container {
    padding: 1em 2em;
}

.profile-card-container--padding-top {
    padding-top: calc(1em + 48px + 2 * var(--img-border)); /* half the user img + border + original 1em padding */
}

.footer {
    padding-block: 1em;

    font-size: 1.1rem;
    color: black;
    text-align: center; 
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}