/* || reset */

* {
    box-sizing: border-box;
    margin: 0;
    
    font: inherit;
}

:root {
    font-size: 62.5%;
}

/* || variables */

:root {
    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(217, 12%, 63%);
    --clr-neutral-3: hsl(216, 12%, 54%);
    --clr-neutral-4: hsl(213, 19%, 18%);
    --clr-neutral-5: hsl(216, 12%, 8%);

    --clr-primary-1: hsl(25, 97%, 53%);

    --clr-circle: hsl(213, 19%, 25%);

    --fs-1: 1.5rem;
    --fs-2: calc(2 * var(--fs-1));

    --fw-1: 400;
    --fw-2: 700;
}

/* || default */

body {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--clr-neutral-5);
    
    font-family: 'Overpass', sans-serif;
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--clr-neutral-2);
}

/* || utilities */

.main-layout {
    display: grid;
    place-content: center;
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1em;
}

.circle {
    position: relative;

    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 2.5em;

    background-color: var(--clr-circle);
}

.btn {
    transition: background-color 100ms, color 100ms;

    border: 0;
    border-radius: 2em;
    padding: 1em;
    
    background-color: var(--clr-primary-1);

    text-transform: uppercase;
    color: var(--clr-neutral-1);
    font-weight: var(--fw-2);
}

/* || block */

.section {
    place-content: center;

    margin-inline: 1em;
    padding: 2em;
    border-radius: 1em;

    max-width: 350px;
    height: 360px;

    background-color: var(--clr-neutral-4);
}

.star-img {
    position: absolute;
    inset: 50% 50%;

    translate: -50% -50%;
}

.btn-row {
    display: flex;
    justify-content: space-between;
}

.thank-you {
    text-align: center;
    display: none;
}

.footer {
    font-size: 1.1rem;
    text-align: center; 
    padding: 1em 0;
}

/* || element */

.section__title {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    color: var(--clr-neutral-1);
}

.btn-row__btn {
    transition: background-color 100ms, color 100ms;
    
    border: 0;

    cursor: pointer;

    color: var(--clr-neutral-2);
}

.thank-you__img {
    position: relative;
    left: 50%;
    translate: -50%;
}

.thank-you__rating {
    position: relative;
    left: 50%;
    translate: -50%;

    padding: .5em 1em;
    border-radius: 2em;
    width: max-content;

    background-color: var(--clr-circle);

    color: var(--clr-primary-1)
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

/* || modifier */

.btn-row__btn--active {
    background-color: var(--clr-neutral-3);

    color: var(--clr-neutral-1);
}

/* || media queries */

@media (hover: hover) {

    .btn-row__btn:hover {
        background-color: var(--clr-primary-1);

        color: var(--clr-neutral-1);
    }

    .btn:hover {
        background-color: var(--clr-neutral-1);
        cursor: pointer;

        color: var(--clr-primary-1);
    }

}