/* || Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500; /*500/700/800*/ 
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background-color: var(--body);
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1.8rem;
    font-weight: 500;
}

/* || Variables */
:root {
/* HSL */
--reaction-hsl: 0, 100%, 67%;
--memory-hsl: 39, 100%, 56%;
--verbal-hsl: 166, 100%, 37%;
--visual-hsl: 234, 85%, 45%;
--light-lavender-hsl: 241, 100%, 89%;
--dark-gray-blue-hsl: 224, 30%, 27%;
/* Primary */
--reaction: hsl(var(--reaction-hsl));
--memory: hsl(var(--memory-hsl));
--verbal: hsl(var(--verbal-hsl));
--visual: hsl(var(--visual-hsl));
/* Neutral */
--white: hsl(0, 0%, 100%);
--body: hsl(221, 100%, 96%);
--light-lavender: hsl(var(--light-lavender-hsl));
--dark-gray-blue: hsl(var(--dark-gray-blue-hsl));
/* Gradients */
--result-background-from: hsl(252, 100%, 67%);
--result-background-to: hsl(241, 81%, 54%);
--result-background-gradient: linear-gradient(var(--result-background-from), var(--result-background-to));
--circle-from: hsla(256, 72%, 46%, 1);
--circle-to: hsla(241, 72%, 46%, 0);
--circle-gradient: linear-gradient(var(--circle-from), var(--circle-to));
/* Max-width */
--container-max-width: 40rem;
}

/* || Blocks  */

.result-summary {
    background-color: var(--white);
}

.container {
    width: 90%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 1em 0;
}

.result {
    text-align: center;
    background: var(--result-background-gradient);
    border-radius: 0 0 2em 2em;
}

.summary-box {
    display: flex;
    gap: .5em;
    padding: 1em;
    margin: .5em 0;
    border-radius: 1em;
}

.btn {
    border: none;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    padding: 1em;
    border-radius: 2em;
    width: 100%;
    margin-top: 1em;
}

@media (hover: hover) {
    .btn:hover {
        background: var(--result-background-gradient);
        cursor: pointer;
    }
}

.footer {
    font-size: 1.1rem;
    text-align: center;
    padding: 1em 0;
}
/* || Elements */
.result__title {
    font-size: 2rem;
    color: var(--light-lavender);
    margin-bottom: 1em;
}

.result__score {
    background: var(--circle-gradient);
    aspect-ratio: 1 / 1;
    height: 12rem;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: hsl(var(--light-lavender-hsl), .5);
}

.result__score-span {
    font-size: 5rem;
    color: var(--white);
    font-weight: 800;
}

.result__rating {
    font-weight: 700;
    margin: 1em 0 .5em;
    font-size: 2.6rem;
    color: var(--white);
}

.result__percentile {
    color: var(--light-lavender);
    margin: 1em 0;
}

.summary__title {
    font-weight: 700;
    margin-bottom: 1em;
}

.summary-box__score {
    margin-left: auto;
    color: hsla(var(--dark-gray-blue-hsl), .5);
}

.summary-box__score-span {
    color: var(--dark-gray-blue);
    font-weight: 700;
}

.footer__link {
    color: hsl(228, 45%, 44%);
}
/* || Modifiers */
.container--smaller {
    width: 80%;
    max-width: calc(var(--container-max-width) - 10%);
}

.summary-box--reaction {
    color: var(--reaction);
    background-color: hsl(var(--reaction-hsl), .1);
}

.summary-box--memory {
    color: var(--memory);
    background-color: hsla(var(--memory-hsl), .1);
}

.summary-box--verbal {
    color: var(--verbal);
    background-color: hsla(var(--verbal-hsl), .1);
}

.summary-box--visual {
    color: var(--visual);
    background-color: hsla(var(--visual-hsl), .1);
}
/* || Media Queries */
@media (min-width: 700px) {

    .body-layout {
        display: grid;
        grid-template-rows: 1fr auto;
        min-height: 100vh;
        min-height: 100dvh;
    }

    .main-layout {
        height: 100%;
        display: grid;
        place-content: center;
    }

    .result-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 75rem;
        border-radius: 2em;
        overflow: hidden;
        box-shadow: 5px 5px 5px hsla(var(--dark-gray-blue-hsl), .1);
    }

    .result {
        border-radius: 2em;
    }
}