*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
}

.box {
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    margin: 0 auto;
    position: relative;
}

.box::before {
    content: "";
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    transition: right 250ms ease-in-out;
    
}

.box:hover::before {
    right: 100%;
}