/*font weights 400/500/700 */

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*primary*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*neutral*/
    --dark-gray-magenta: hsl(303, 10%, 53%);
    --light-gray-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.5rem;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

.container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 2em 1em;
}

/*background*/

.background {
    position: relative;

}

.desktop-img-top,
.desktop-img-bottom {
    display: none;
}

.mobile-img-top {
    position: absolute;
    top: 0;
}

.mobile-img-bottom {
    position: absolute;
    bottom: 0;
}

/*hero section*/

.hero__title {
    font-size: 4.5rem;
    margin: 1em auto .5em;
    color: var(--very-dark-magenta);
    text-align: center;
    font-weight: 700;
    width: 90%;
    max-width: 350px;
}

.hero__text {
    font-size: 1.5rem;
    margin: 1em auto;
    color: var(--dark-gray-magenta);
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
}

/*ratings section*/

.ratings__box {
    background-color: var(--light-gray-magenta);
    padding: 1em;
    margin: 1em 0;
    border-radius: 1em;
}

.ratings__box-stars {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.ratings__box-text {
    color: var(--very-dark-magenta);
    text-align: center;
    font-size: 1.5rem;
    margin: .5em 0 0;
    font-weight: 700;
}

/*testimonies section*/

.testimonies__box {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    padding: 1em 2em;
    margin: 1em 0;
    border-radius: 1em;
}

.testimonies__box-customer-info {
    display: flex;
    gap: 2em;
    align-items: center;
}

.testimonies__box-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.testimonies__box-name {
    font-size: 1.5rem;
    margin: .5em 0;
    font-weight: 700;
}

.testimonies__box-verified {
    color: var(--soft-pink);
    font-size: 1.5rem;
    margin: .5em 0;
    font-weight: 500;
}

.testimonies__box-text {
    font-size: 1.5rem;
    margin: 1em 0;
    line-height: 1.5;
}

.footer {
    font-size: 11px;
    text-align: center;
    padding: 2em 0;
}
  .footer__link {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 950px) {

    .container {
        max-width: 1000px;
        width: 90%;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .row--space-between {
        justify-content: space-between;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .align-start {
        align-self: flex-start;
    }

    .align-center {
        align-self: center;
    }

    .align-end {
        align-self: flex-end;
    }

    /*background*/

    .mobile-img-top,
    .mobile-img-bottom {
        display: none;
    }

    .desktop-img-top {
        display: block;
        position: absolute;
        top: 0;
    }

    .desktop-img-bottom {
        display: block;
        position: absolute;
        bottom: 0;
    }

    /*hero*/

    .hero {
        max-width: 400px;
    }

    .hero__title {
        text-align: left;
        max-width: 400px;
        margin: 1em 0 .5em;
    }

    .hero__text {
        text-align: left;
    }

    /*ratings*/

    .col--ratings {
        width: 400px;
    }
    
    .ratings__box-stars {
        position: static;
        transform: translateX(0%);
    }

    /*testimonies*/

    .row--testimonies {
        height: 300px;
    }

}