* {
    box-sizing: border-box;
}

h1 {
   margin: 0;
   padding: .34em 0;
}

h2 {
    margin: 0;
    padding: .75em 0;
}

:root {
    --primary-bg-color: #4f519d;
    --secondary-bg-color: #786ed5;
    --accent-color: #f3a22c;
    --font-color: black;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--font-color);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.primary_color {
    background-color: var(--primary-bg-color);
}

.secondary_color {
    background-color: var(--secondary-bg-color);
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_container {
    max-width: 676px;
    padding: 1em;
    margin: auto;
}

h1 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 4rem;
}

.contact_info {
    text-align: center;
}

.padding_top {
    padding-top: 1em;
}

.product_name {
    text-align: center;
}

footer {
    padding: .5em 1em;
    text-align: right;
}

footer div {
    font-style: italic;
}

.product_name {
    color: var(--accent-color);
    text-shadow: 0 0 5px black;
}

@media (min-width: 676px) { /*max width of img + 2em for padding + 4px for border*/
    
    img {
        padding: 1em;
        background-color: white;
        border: 2px solid var(--accent-color);
    }

    .row img,
    .row h1,
    .row h2,
    .row p {
        margin-left: 1em;
        margin-right: auto;
    }

    .reverse img,
    .reverse p{
        margin-left: auto;
        margin-right: 1em;
    }

}

@media (min-width: 1000px) {
    
    img {
        margin: 0;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .container {
        padding: 0 1em;
    }

    h1 {
        text-align: right;
    }

    header .row {
        align-items: center;
        justify-content: flex-start;
    }

    .contact {
        flex: 1;
        padding-top: 108px;
    }

    .product_name {
        text-align: right;
        padding-left: 1em;
        padding-right: 1em;
        color: var(--accent-color);
        text-shadow: 0 0 5px black;
    }

    .reverse .product_name {
        text-align: left;
    }

    .image_container {
        max-width: 400px;
        line-height: 2;
    }

    .primary_color,
    .secondary_color {
        padding-bottom: 1em;
    }

    footer.primary_color {
        padding-bottom: .5em;
    }

}