/* || reset */

* {
    box-sizing: border-box;
    margin: 0;

    font: inherit;
}

:root {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

/* || variables */

:root {
    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(228, 12%, 48%);
    --clr-neutral-3: hsl(212, 21%, 14%);

    --clr-primary-1: hsl(30, 38%, 92%);
    --clr-primary-2: hsl(158, 36%, 37%);
    --clr-primary-2-dark: hsl(158, 36%, 15%);

    --ff-main: 'Montserrat', sans-serif;
    --ff-headings: 'Fraunces', serif;

    --fs-1: 1.4rem;
    --fs-2: calc(3 * var(--fs-1));

    --fw-1: 500;
    --fw-2: 700;
}

/* || default */

body {
    display: grid;
    grid-template-rows: 1fr auto;
    
    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--clr-primary-1);

    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    font-family: var(--ff-main);
}

/* || utilities */

.main-layout {
    display: grid;
    place-content: center;

    margin: 1em;
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 2em;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* || block */

.product {
    overflow: hidden;

    border-radius: 1em;
    max-width: 425px;
}

.product-info {
    padding: 2em;
    
    background-color: var(--clr-neutral-1);

    color: var(--clr-neutral-2);
}

.product-price {
    display: flex;
    gap: 1em;
    align-items: center;
}

.btn {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    
    transition: background-color 100ms;

    border: 0;
    padding: 1em;
    border-radius: .5em;

    background-color: var(--clr-primary-2);
    
    color: var(--clr-neutral-1);
    font-weight: var(--fw-2);
}

.footer {
    padding: 1em 0;

    font-size: 1.1rem;
    text-align: center; 
}

/* || element */

.product__category {
    text-transform: uppercase;
    letter-spacing: .5em;
}

.product__title {
    font-family: var(--ff-headings);
    color: var(--clr-neutral-3);
    font-size: var(--fs-2);
    line-height: 1;
}

.product__description {
    line-height: 1.75;
}

.product-price__sale {
    font-family: var(--ff-headings);
    font-size: var(--fs-2);
    color: var(--clr-primary-2);
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

/* || media queries */

@media (hover: hover) {

    .btn:hover {
        background-color: var(--clr-primary-2-dark);

        cursor: pointer;
    }

}

@media (min-width: 700px) {

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;

        max-width: 700px;
    }

}