/*font weights 400 and 700*/

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    /*colors*/
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(212, 45%, 89%);
    --greyish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: var(--light-grey);
    color: var(--greyish-blue);
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card {
    max-width: 37.5rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1em;
    text-align: center;
}

.card__container {
    padding: 1em;
}

.card__img {
    max-width: 100%;
    border-radius: 1em;
}

.card__body {
    padding: 0 2em 2em;
}

.card__title {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 2.5rem;
}

.footer {
    font-size: 1.1rem; text-align: center;
    padding: 2em;
}

.footer__link {
    color: hsl(228, 45%, 44%); 
}

